.chip
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center
    border-radius: 50px
    width: 16%
    height: 75%
    background-color: transparent
    border: 1px solid #324145
    margin-left: 8.5px
    margin-right: 8.5px
    user-select: none
    cursor: pointer
    .icono
        font-size: 16px
        color: #324145
    .texto
        font-size: .9rem
        color: #324145